<!DOCTYPE html>
<html>
<head>
	<!-- META -->
	<title>HTML KickStart Elements</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="" />

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/kickstart.css" media="all" />
	<link rel="stylesheet" type="text/css" href="style.css" media="all" />

	<!-- Javascript -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/kickstart.js"></script>
</head>
<body>
<div class="grid">

	<!-- Menu Horizontal -->
<ul class="menu">
<li><a href="index.html">Home</a></li>
<li><a href=""><i class="fa fa-inbox"></i> Chain</a>
	<ul>
	<li><a href=""><i class="fa fa-cog"></i> IN</a></li>
	<li><a href=""><i class="fa fa-cog"></i> OUT</a></li>
	<li><a href=""><i class="fa fa-cog"></i> FILTER</a></li>
	</ul>
</li>
<li class="current"><a href="help.html">Help</a></li>
</ul>

	<div class="col_12">
        <h3 class="center">iptables help</h3>
        {{ help }}
	</div>
</div> <!-- End Grid -->
</body>
</html>
