<!DOCTYPE html>
<html>
<!-- Head tag -->
{% include 'head.html' %}

<body>
<div class="grid">

	<!-- Menu Horizontal -->
	{% include 'menu.html' %}

	<div class="col_12">
		<h3 class="center">Create new Chain</h3><br>

        <div class="center">
        <form name="create_chain" id="create_chain" action="/create_chain" method="POST">
			<input name="new_chain_name" id="new_chain_name" type="text" placeholder="New Chain Name" />
			<button type="submit" class="small blue">Создать</button>
		</form>
        </div>

	</div>
</div> <!-- End Grid -->
</body>
</html>
