<head>
	<!-- META -->
	<title>FireWall Web Interface</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="" />
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/kickstart.css') }}" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="all" />
	<!-- Javascript -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/kickstart.js') }}"></script>
</head>
